<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: app-head">
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">
		<header th:replace="layout/layout :: app-header2"></header>
		<aside th:replace="layout/layout :: app-side"></aside>
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Cardápio</h1>
				<ol class="breadcrumb">
					<li><a th:href="@{/}"><i class="fa fa-dashboard"></i> Menu</a></li>
					<li class="active"><a th:href="@{/cardapio/listarCardapio}">Cardápio</a></li>
					<li class="active">Alteração</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content" style="margin-top: 20px;">
				<!-- Small boxes (Stat box) -->
				<div class="row">
					<div class="col-md-6">
						<!-- general form elements -->
						<div class="box box-warning">
							<div class="box-header with-border">
								<h3 class="box-title">Alterar Item</h3>
							</div>
							<!-- /.box-header -->
							<!-- form start -->
							<div class="alert alert-danger" th:text="${mensagem}" th:if="${not #strings.isEmpty(mensagem)}"></div>
							<form th:action="@{/cardapio/salvar}" th:object="${itemCardapio}" method="post" data-parsley-validate="">
								<input type="hidden" th:field="*{idItemCardapio}" />
								<div class="box-body">

									<div class="form-group ad-required"
										th:classappend="${#fields.hasErrors('nomeItemCardapio')} ? has-error">
										<label for="nomeProduto">Produto:</label> <input type="text"
											class="form-control" id="nomeItemCardapio"
											name="nomeItemCardapio" th:field="*{nomeItemCardapio}"
											placeholder="Informe o Produto" data-parsley-required=""
											data-parsley-error-message="O Nome do Produto é obrigatório!" />
									</div>

									<div class="form-group">
										<label for="descricao">Descrição:</label>
										<textarea rows="3" class="form-control" id="descricao"
											name="descricao" th:field="*{descricao}"
											placeholder="Descrição do Produto">
										</textarea>
									</div>

									<div class="form-group ad-required"
										th:classappend="${#fields.hasErrors('categoria')} ? has-error">
										<label for="categoria">Categoria:</label> <select
											class="form-control" th:field="*{categoria}" id="categoria"
											name="categoria" data-parsley-required=""
											data-parsley-error-message="Selecione uma categoria!">
											<option value="">-- Categorias --</option>
											<option value="Bolo">Bolo</option>
											<option value="Doce">Doce</option>
											<option value="Salgado">Salgado</option>
											<option value="Sobremesa">Sobremesa</option>
											<option value="Torta">Torta</option>
										</select>
									</div>

									<div class="form-group ad-required"
										th:classappend="${#fields.hasErrors('valorAux')} ? has-error">
										<label for="valorAux">Valor:</label> <input type="text"
											class="form-control" id="valor" name="valor"
											th:field="*{valorAux}" placeholder="Valor do Produto"
											data-parsley-required=""
											data-parsley-error-message="Informe o valor!" />
									</div>
									
									<div class="form-group">
										<label for="metaMensal">Meta Mensal:</label>
										<input type="number" class="form-control" th:field="*{metaMensal}"/>
									</div>
									
								 
									<div class="form-group">
										<label for="principal"> 
											<input type="checkbox" class="flat-red" value="false" th:field="*{principal}"/> Produto Principal?
										</label>
									</div>
									
									

									<div class="pull-right">
										<button type="submit" class="btn btn-success">Salvar</button>
									</div>

								</div>
							</form>
							<!-- /.form group -->
						</div>
					</div>
				</div>
				<!-- /.row -->
			</section>
			<!-- /.content -->
		</div>
		<footer th:replace="layout/layout :: app-footer"></footer>
		<aside th:replace="layout/layout :: app-side2"></aside>
		<div th:replace="layout/layout :: app-div"></div>
	</div>
	<!-- Page script -->
	<script>
		jQuery(function($) {
			$("#valor").maskMoney({
				prefix : 'R$ ',
				allowNegative : true,
				thousands : '.',
				decimal : ',',
				affixesStay : false
			});
			
			//iCheck for checkbox and radio inputs
		    $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
		      checkboxClass: 'icheckbox_minimal-blue',
		      radioClass   : 'iradio_minimal-blue'
		    });
		    //Red color scheme for iCheck
		    $('input[type="checkbox"].minimal-red, input[type="radio"].minimal-red').iCheck({
		      checkboxClass: 'icheckbox_minimal-red',
		      radioClass   : 'iradio_minimal-red'
		    });
		    //Flat red color scheme for iCheck
		    $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
		      checkboxClass: 'icheckbox_flat-green',
		      radioClass   : 'iradio_flat-green'
		    });
		})
	</script>
	<script
		src="../../static/plentz-jquery-maskmoney-cdbeeac/dist/jquery.maskMoney.js"
		th:src="@{/plentz-jquery-maskmoney-cdbeeac/dist/jquery.maskMoney.js}"></script>
</body>
</html>